<section id="awards">
    <div class="awards__container">
        <div class="awards__content">
            <h2>Trusted, Award-Winning
                Digital Asset Platform
            </h2>
            <p>
                See all prestigious awards recognizing Nexo's cutting-edge technology, ease of use, and overall mission
                to serve as a bridge between traditional and digital finance.
            </p>
        </div>
        <div class="awards__images">
            <img src="./assets/img/award2.webp" alt="awards">
            <img src="./assets/img/award1.webp" alt="awards">
            <img src="./assets/img/award3.webp" alt="awards">
            <span class="grid__tricks">
            <img src="./assets/img/award4.webp" alt="awards">
            <img src="./assets/img/award5.webp" alt="awards">
            </span>
        </div>
    </div>
</section>