<section id="company">
    <div class="company__container">
        <h2>As Featured in </h2>
        <div class="company__names">
            <img src="./assets/img/grey.svg" alt="grey">
            <img src="./assets/img/washington.svg" alt="washington">
            <img src="./assets/img/bloomberg-grey.svg" alt="bloomberg">
            <img src="./assets/img/reuters-grey.svg" alt="reuters">
            <img src="./assets/img/fortune-grey.svg" alt="fortune">
            <img src="./assets/img/cnbc-grey.svg" alt="cnbc">
            <img src="./assets/img/coindesk-grey.svg" alt="coindesk">
            <img src="./assets/img/the-block-gery.svg" alt="block">
            <img src="./assets/img/cointelegraph-grey.svg" alt="cointelegraph">
            <img src="./assets/img/decrypt-grey.svg" alt="decrypt">
        </div>
    </div>
</section>