<section id="data">
    <div class="data__container">
        <div class="data__box">
            <h2> $130B+ </h2>
            <span>Processed in <br> 5+ years</span>
        </div>


        <div class="data__box">
            <h2>6M+ </h2>
            <span>Nexo users <br> worldwide </span>
        </div>


        <div class="data__box">
            <h2>60+</h2>
            <span>Supported <br> cryptocurrencies </span>
        </div>


        <div class="data__box">
            <h2>200+</h2>
            <span>Available <br> jurisdictions </span>
        </div>


    </div>
</section>