<section id="interaction">
    <div class="interaction__container">
        <div class="interaction__titles">
            <button class="title__buy" type="button">Buy</button>
            <button class="title__earn" type="button">Earn</button>
            <button class="title__exchange" type="button">Exchange</button>
            <button class="title__borrow" type="button">Borrow</button>
            <button class="title__card" type="button">Card</button>
        </div>
        <div class="Buy shown">
            <div class="buy__content">
                <h2>Get the Most Out of Your Swaps</h2>
                <p>Exchange crypto with 500+ market pairs to choose from. Buy, sell, or swap all major cryptocurrencies
                    with zero fees in seconds</p>
                <div>
                    <button type="button">Get Started
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                            <path d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path>
                        </svg>
                    </button>
                    <a href="#">Learn More
                        <span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z">

                    </path>
                </svg>
                </span>
                    </a>
                </div>
            </div>
            <div class="buy__image">
                <img src="./assets/img/buy.webp" alt="card">
            </div>
        </div>
        <div class="Earn shown">
            <div class="earn__content">
                <h2>Get the Most Out of Your Swaps</h2>
                <p>Exchange crypto with 500+ market pairs to choose from. Buy, sell, or swap all major cryptocurrencies
                    with zero fees in seconds</p>
                <div>
                    <button type="button">Get Started
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                            <path d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path>
                        </svg>
                    </button>
                    <a href="#">Learn More
                        <span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z">

                    </path>
                </svg>
                </span>
                    </a>
                </div>
            </div>
            <div class="earn__image">
                <img src="./assets/img/earn.webp" alt="card">
            </div>
        </div>
        <div class="Exchange shown">
            <div class="exchange__content">
                <h2>Get the Most Out of Your Swaps</h2>
                <p>Exchange crypto with 500+ market pairs to choose from. Buy, sell, or swap all major cryptocurrencies
                    with zero fees in seconds</p>
                <div>
                    <button type="button">Get Started
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                            <path d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path>
                        </svg>
                    </button>
                    <a href="#">Learn More
                        <span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z">

                    </path>
                </svg>
                </span>
                    </a>
                </div>
            </div>
            <div class="exchange__image">
                <img src="./assets/img/exchange.webp" alt="card">
            </div>
        </div>
        <div class="Borrow shown">
            <div class="borrow__content">
                <h2>Get the Most Out of Your Swaps</h2>
                <p>Exchange crypto with 500+ market pairs to choose from. Buy, sell, or swap all major cryptocurrencies
                    with zero fees in seconds</p>
                <div>
                    <button type="button">Get Started
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                            <path d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path>
                        </svg>
                    </button>
                    <a href="#">Learn More
                        <span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z">

                    </path>
                </svg>
                </span>
                    </a>
                </div>
            </div>
            <div class="borrow__image">
                <img src="./assets/img/borrow.webp" alt="card">
            </div>
        </div>
        <div class="Card shown">
            <div class="card__content">
                <h2>Get the Most Out of Your Swaps</h2>
                <p>Exchange crypto with 500+ market pairs to choose from. Buy, sell, or swap all major cryptocurrencies
                    with zero fees in seconds</p>
                <div>
                    <button type="button">Get Started
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                            <path d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path>
                        </svg>
                    </button>
                    <a href="#">Learn More
                        <span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z">

                    </path>
                </svg>
                </span>
                    </a>
                </div>
            </div>
            <div class="card__image">
                <img src="./assets/img/slider-card.webp" alt="card">
            </div>
        </div>
    </div>
</section>