<section id="security">
    <div class="security__container">
        <div class="security__title">
            <div class="title__name"><h2>Security-First Approach</h2></div>
            <div class="title__card">
                <div>
                    <span>Insurance on custodial assets by </span>
                    <img src="./assets/img/logo-ledger.svg" alt="ledger">
                    <img src="./assets/img/logo-bakkt.svg" alt="bakkt">
                </div>
                <div>
                    <span>SOC 2 Type 2 <br> certification </span>
                    <img src="./assets/img/logo-soc.svg" alt="soc">
                </div>
            </div>
        </div>
        <div class="security__content">
            <div class="content__box">
                <h3>Sustainable Model </h3>
                <p>Our proven real-time risk engine and strict collateralization requirements ensure we generate
                    earnings in a safe way.
                </p>
                <a href="#">Learn More
                    <span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z">

                    </path>
                </svg>
                </span>
                </a>
            </div>
            <div class="content__box">
                <h3>Sustainable Model </h3>
                <p>Our proven real-time risk engine and strict collateralization requirements ensure we generate
                    earnings in a safe way.
                </p>
                <a href="#">Learn More
                    <span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z">

                    </path>
                </svg>
                </span>
                </a>
            </div>
        </div>
    </div>
</section>